<tr class="table-row" data-href="<%= process_path(process) %>">
  <td class="table-cell pl-6 font-medium text-zinc-900 dark:text-zinc-100">
    <%= process.id %>
  </td>

  <td class="table-cell">
    <%= process_kind_badge(process.kind) %>

    <% if process.claimed_executions.any? %>
      <span class="ml-0.5 text-xs text-muted-foreground">
        Running <%= pluralize(process.claimed_executions.count, "job") %>
      </span>
    <% end %>
  </td>

  <td class="table-cell"><%= process.hostname %></td>
  <td class="table-cell"><%= process.pid %></td>

  <td class="table-cell">
    <span data-date="true"><%= process.created_at.to_fs(:database) %></span><br />
    <span class="text-xs text-muted-foreground">
      <%= time_ago_in_words(process.created_at, include_seconds: true) %> ago
    </span>
  </td>

  <td class="table-cell" title="<%= process.last_heartbeat_at %>">
    <span data-date="true"><%= process.last_heartbeat_at.to_fs(:database) %></span><br />
    <span class="text-xs text-muted-foreground">
      <%= time_ago_in_words(process.last_heartbeat_at, include_seconds: true) %> ago
    </span>
  </td>

  <td class="table-cell">
    <% if process.dead? %>
      <span class="badge badge-red">Dead?</span>
    <% end %>
  </td>
</tr>
