<h1 class="text-4xl flex items-center gap-2">
  <%= process_kind_circle(@process.kind, class: "!size-4") %>

  <span class="tracking-tighter font-bold">
    Process #<%= @process.id %>
  </span>

  <% if @process.dead? %>
    <span class="badge badge-red">Dead?</span>
  <% end %>
</h1>

<div class="card mt-6">
  <div class="card-content pt-6 grid grid-cols-1 sm:grid-cols-2 sm:gap-16">
    <div class="space-y-4">
      <div class="info-line">
        <span class="info-line-label">Kind</span>
        <span class="info-line-separator"></span>
        <span class="info-line-value"><%= process_kind_badge(@process.kind) %></span>
      </div>

      <div class="info-line">
        <span class="info-line-label">Hostname</span>
        <span class="info-line-separator"></span>
        <span class="info-line-value"><%= @process.hostname %></span>
      </div>

      <div class="info-line">
        <span class="info-line-label">PID</span>
        <span class="info-line-separator"></span>
        <span class="info-line-value"><%= @process.pid %></span>
      </div>

      <div class="info-line">
        <span class="info-line-label">Name</span>
        <span class="info-line-separator"></span>
        <span class="info-line-value"><%= @process.name %></span>
      </div>
    </div>

    <div class="space-y-4">
      <div class="info-line">
        <span class="info-line-label">Last Heartbeat</span>
        <span class="info-line-separator"></span>
        <span class="text-sm text-muted-foreground font-normal">
          <%= time_ago_in_words(@process.last_heartbeat_at, include_seconds: true) %> ago
        </span>
        <span class="info-line-value" data-date><%= @process.last_heartbeat_at.to_fs(:database) %></span>
      </div>

      <div class="info-line">
        <span class="info-line-label">Created At</span>
        <span class="info-line-separator"></span>
        <span class="text-sm text-muted-foreground font-normal">
          <%= time_ago_in_words(@process.created_at, include_seconds: true) %> ago
        </span>
        <span class="info-line-value" data-date><%= @process.created_at.to_fs(:database) %></span>
      </div>

      <div class="info-line">
        <span class="info-line-label">Time Running</span>
        <span class="info-line-separator"></span>
        <span class="info-line-value"><%= distance_of_time_in_words(@process.created_at, Time.current, include_seconds: true) %></span>
      </div>
    </div>
  </div>
</div>

<% if @process.claimed_executions.any? %>
  <div class="card mt-8 overflow-hidden">
    <div class="card-header border-b border-t-4 border-t-sky-500 dark:border-t-sky-600">
      <h2 class="card-title">Running Jobs</h2>
      <p class="card-description">Jobs that this process is currently running</p>
    </div>

    <div class="card-content p-0">
      <%= render partial: 'solid_queue_dashboard/jobs/table', locals: { jobs: @process.claimed_executions.map { |execution| SolidQueueDashboard::Decorators::JobDecorator.new(execution.job) } } %>
    </div>
  </div>
<% end %>

<% if @process.metadata.present? %>
  <div class="card mt-8 overflow-hidden">
    <div class="card-header border-b border-t-4 border-t-amber-500 dark:border-t-amber-600">
      <h2 class="card-title">Metadata</h2>
      <p class="card-description">Additional information about this process</p>
    </div>
    <div class="card-content pt-6">
      <pre><%= JSON.pretty_generate(@process.metadata) %></pre>
    </div>
  </div>
<% end %>
