<div class="card card-content p-6 relative">
  <%= form_with url: root_path, method: :get, class: "absolute top-6 right-6" do |form| %>
    <%= form.hidden_field :auto_refresh_period %>
    <%= form.select :chart_period,
      [["15 minutes", "15m"], ["30 minutes", "30m"], ["1 hour", "1h"], ["3 hours", "3h"], ["6 hours", "6h"], ["12 hours", "12h"], ["1 day", "1d"], ["3 days", "3d"], ["1 week", "1w"]],
      { selected: params[:chart_period].presence || "30m" },
      class: "select",
      data: { auto_submit: true }
    %>
  <% end %>

  <%= line_chart @charts, points: false, thousands: "," %>
</div>

<div class="grid grid-cols-6 gap-4 mt-4">
  <% SolidQueueDashboard::Job::STATUSES.each do |status| %>
    <div class="card" data-href="<%= jobs_path(status:) %>">
      <div class="card-content pt-5">
        <h4 class="font-medium">
          <%= status.to_s.titleize %>
          <span class="ml-0.5 -translate-y-px circle <%= job_status_circle_class(status) %>"></span>
        </h4>
        <p class="text-4xl font-bold mt-1 text-black dark:text-white">
          <%= number_with_delimiter(@jobs.with_status(status).count) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
