<%= form_with url: jobs_path, method: :get, class: "space-y-3" do |form| %>
  <div>
    <label class="label">Status</label>
    <div class="flex flex-wrap gap-1 mt-1">
      <% SolidQueueDashboard::Job::STATUSES.each do |status| %>
        <%= button_tag type: :submit,
          name: :status,
          value: status,
          class: "px-2 badge #{params[:status] == status.to_s ? 'badge-primary' : 'badge-outline'}" do
        %>
          <span class="circle <%= job_status_circle_class(status) %>"></span>
          <%= status.to_s.titleize %>
          <span class="opacity-50 -ml-0.5">
            <%= SolidQueueDashboard.decorate(SolidQueue::Job.all).with_status(status).count %>
          </span>
        <% end %>
      <% end %>

      <% if params[:status].present? %>
        <%= button_tag type: :submit, name: :status, value: nil, class: "badge badge-destructive gap-1" do %>
          <%= icon_x class: "size-3.5 text-red-500" %>
          Clear
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <label class="label">Job Class</label>
    <div class="flex flex-wrap gap-1 mt-1">
      <% @job_class_names.each do |class_name| %>
        <%= button_tag type: :submit,
          name: :class_name,
          value: class_name,
          class: "px-2 badge #{params[:class_name] == class_name ? 'badge-primary' : 'badge-outline'}" do
        %>
          <%= class_name.to_s.titleize %>
          <span class="opacity-50 -ml-0.5">
            <%= SolidQueue::Job.where(class_name:).count %>
          </span>
        <% end %>
      <% end %>

      <% if params[:class_name].present? %>
        <%= button_tag type: :submit, name: :class_name, value: nil, class: "badge badge-destructive gap-1" do %>
          <%= icon_x class: "size-3.5 text-red-500" %>
          Clear
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @job_queue_names.size > 1 %>
    <div>
      <label class="label">Queue</label>
      <div class="flex flex-wrap gap-1 mt-1">
        <% @job_queue_names.each do |queue_name| %>
          <%= button_tag type: :submit,
            name: :queue_name,
            value: queue_name,
            class: "px-2 badge #{params[:queue_name] == queue_name ? 'badge-primary' : 'badge-outline'}" do
          %>
            <%= queue_name.to_s.titleize %>
            <span class="opacity-50 -ml-0.5">
              <%= SolidQueue::Job.where(queue_name:).count %>
            </span>
          <% end %>
        <% end %>

        <% if params[:queue_name].present? %>
          <%= button_tag type: :submit, name: :queue_name, value: nil, class: "badge badge-destructive gap-1" do %>
            <%= icon_x class: "size-3.5 text-red-500" %>
            Clear
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if any_jobs_filters? %>
    <hr>
    <%= link_to jobs_path, class: "btn btn-outline btn-xs" do %>
      <%= icon_x class: "size-4 text-red-500" %>
      Clear All Filters
    <% end %>
  <% end %>
<% end %>
