<% highlight = local_assigns[:highlight] || local_assigns[:highlight_ids]&.include?(job.id) %>

<%= table_row class: highlight ? "bg-primary/7.5 hover:bg-primary/10" : "", data: { href: job_path(job) } do %>
  <%= table_cell class: "font-medium text-zinc-900 dark:text-zinc-100" do %>
    <%= job_circle(job, class: "mr-1 -translate-y-px") %>
    <%= job.id %>

    <% if job.arguments["executions"] > 0 %>
      <span class="text-xs text-muted-foreground">
        (x<%= job.arguments["executions"] +1 %>)
      </span>
    <% end %>
  <% end %>

  <%= table_cell job.queue_name.titleize %>

  <%= table_cell do %>
    <span class="font-medium"><%= job.class_name %></span><br />
    <% if job.arguments["arguments"].present? %>
      <p class="text-xs text-muted-foreground truncate">
        <%= truncate(job.arguments["arguments"].map(&:to_json).to_sentence, length: 50) %>
      </p>
    <% end %>
  <% end %>

  <%= table_cell job_status_badge(job) %>

  <%= table_cell do %>
    <%= tag.span job.scheduled_at, data: { date: true }, class: "font-medium" %><br />
    <span class="text-xs text-muted-foreground">
      <%= time_ago_in_words(job.scheduled_at, include_seconds: true) %> ago
    </span>
  <% end %>

  <%= table_cell do %>
    <% if job.success? || job.retried? %>
      <p class="text-sm text-muted-foreground">
        <%= job.retried? ? "Failed" : "Finished" %> at <strong class="font-medium text-foreground" data-date="<%= job.finished_at.to_fs(:database) %>"><%= job.finished_at %></strong><br />
        <span class="text-xs"><%= time_ago_in_words(job.scheduled_at, include_seconds: true) %> ago</span>
      </p>
    <% elsif job.failed? %>
      <p class="text-sm text-balance text-red-700 dark:text-red-500 font-medium">
        <%= job.error_message %>
      </p>
    <% elsif job.pending? %>
      <p class="text-sm text-muted-foreground">
        Pending for <strong class="font-medium text-foreground"><%= time_ago_in_words(job.scheduled_at, include_seconds: true) %></strong>
      </p>
    <% end %>
  <% end %>
<% end %>
