<%= card do %>
  <%= card_header class: "border-b" do %>
    <%= card_title "Jobs" %>
    <%= card_description "List of executed jobs" %>

    <div class="!mt-4">
      <%= render "filters" %>
    </div>
  <% end %>

  <%= card_content class: "!p-0" do %>
    <% if @jobs.any? %>
      <%= render "solid_queue_dashboard/jobs/table", jobs: @jobs %>
    <% else %>
      <div class="px-6 py-12">
        <p class="text-muted-foreground text-center">
          No jobs found
        </p>

        <% if any_jobs_filters? %>
          <div class="flex justify-center mt-2">
            <%= button_link "Clear Filters", href: jobs_path, variant: "outline" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
