<h1 class="text-4xl font-bold tracking-tighter mb-8 sm:mb-16">
  Job #<%= @job.id %>
</h1>

<div class="grid grid-cols-2 gap-8">
  <%= description_list do %>
    <%= description_list_term "Queue" %>
    <%= description_list_details job_queue_name(@job) %>

    <%= description_list_term "Class" %>
    <%= description_list_details do %>
      <%= link_to @job.class_name, jobs_path(class_name: @job.class_name), class: "link" %>
    <% end %>

    <%= description_list_term "Status" %>
    <%= description_list_details job_status_badge(@job) %>
  <% end %>

  <%= description_list do %>
    <%= description_list_term "Scheduled At" %>
    <%= description_list_details @job.scheduled_at, data: { date: @job.scheduled_at.to_fs(:database) } %>

    <% if @job_status == SolidQueueDashboard::Job::FINISHED %>
      <%= description_list_term "Finished At" %>
      <%= description_list_details do %>
        <%= tag.span @job.finished_at, data: { date: @job.finished_at.to_fs(:database) } %>
        <span class="text-sm text-muted-foreground font-normal">
        (<%= distance_of_time_in_words(@job.scheduled_at, @job.finished_at) %> after scheduled,
          <%= time_ago_in_words(@job.finished_at) %> ago)
      </span>
      <% end %>
    <% end %>

    <% if @job_status == SolidQueueDashboard::Job::FAILED %>
      <%= description_list_term "Failed At" %>
      <%= description_list_details @job.failed_execution.created_at, data: { date: @job.failed_execution.created_at.to_fs(:database) } %>
    <% end %>

    <%= description_list_term "Created At" %>
    <%= description_list_details @job.created_at, data: { date: @job.created_at.to_fs(:database) } %>
  <% end %>
</div>

<% if @job.arguments["arguments"].present? %>
  <%= card class: "mt-8 overflow-hidden" do %>
    <%= card_header class: "border-b border-t-4 border-t-blue-500" do %>
      <%= card_title "Arguments" %>
      <%= card_description "The arguments that were passed to this job" %>
    <% end %>
    <%= card_content class: "pt-6" do %>
      <pre><%= JSON.pretty_generate(@job.arguments["arguments"]) %></pre>
    <% end %>
  <% end %>
<% end %>

<% if SolidQueueDashboard::Job.failed?(@job) %>
  <%= card class: "mt-8 overflow-hidden" do %>
    <%= card_content class: "pt-5 border-t-4 border-t-red-500" do %>
      <h4 class="text-lg font-bold">
        <%= job_error_message(@job) %>
      </h4>

      <ul class="list-decimal marker:text-sm marker:text-muted-foreground mt-1 ml-8 space-y-1">
        <% Rails.backtrace_cleaner.clean(@job.failed_execution.error["backtrace"]).each do |line| %>
          <li class="font-mono"><%= line %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<% if @execution_history.size > 1 %>
  <%= card class: "mt-8 overflow-hidden" do %>
    <%= card_header class: "border-b border-t-4 border-t-zinc-500 flex !flex-row justify-between items-center" do %>
      <div class="space-y-1.5">
        <%= card_title "Execution History" %>
        <%= card_description "The history of executions with same arguments (#{@execution_history.count} times)" %>
      </div>

      <%= button_link "View All",
        href: jobs_path(class_name: @job.class_name, arguments_from_id: @job.id),
        variant: "outline",
        size: "sm"
      %>
    <% end %>

    <%= card_content class: "!p-0" do %>
      <%= render "table", jobs: @execution_history.limit(10) %>
    <% end %>

    <%= card_footer class: "border-t pt-6" do %>
      <p class="text-sm text-muted-foreground">
        Showing the last 10 executions of this job
      </p>
    <% end %>
  <% end %>
<% end %>

<% if @job_history.size > 1 %>
  <%= card class: "mt-8 overflow-hidden" do %>
    <%= card_header class: "border-b border-t-4 border-t-zinc-500 flex !flex-row justify-between items-center" do %>
      <div class="space-y-1.5">
        <%= card_title "Job History" %>
        <%= card_description "The history of executions with any arguments (#{@job_history.count} times)" %>
      </div>

      <%= button_link "View All",
        href: jobs_path(class_name: @job.class_name),
        variant: "outline",
        size: "sm"
      %>
    <% end %>

    <%= card_content class: "!p-0" do %>
      <%= render "table", jobs: @job_history.limit(10) %>
    <% end %>

    <%= card_footer class: "border-t pt-6" do %>
      <p class="text-sm text-muted-foreground">
        Showing the last 10 executions of this job
      </p>
    <% end %>
  <% end %>
<% end %>
