<div class="flex items-center justify-between gap-4">
  <h1 class="text-4xl flex items-center gap-2">
    <%= job_status_circle(@job.status, class: "size-4") %>

    <span class="tracking-tighter font-bold">
      Job #<%= @job.id %>
    </span>

    <% if @job.arguments["executions"] > 0 %>
      <span class="ml-2 badge badge-zinc">
        <%= (@job.arguments["executions"] + 1).ordinalize %> attempt
      </span>
    <% end %>
  </h1>

  <div class="flex gap-2">
    <% if @job.failed? %>
      <%= form_with url: retry_job_path(@job) do %>
        <button class="btn btn-outline btn-md">
          <%= icon_refresh_cw class: "size-4 text-amber-600" %>
          <span>Retry Job</span>
        </button>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card mt-6">
  <div class="card-content pt-6 grid grid-cols-1 sm:grid-cols-2 sm:gap-16 md:gap-20">
    <div class="space-y-4">
      <div class="info-line">
        <span class="info-line-label">Status</span>
        <span class="info-line-separator"></span>
        <span class="info-line-value"><%= job_status_badge(@job.status) %></span>
      </div>

      <div class="info-line">
        <span class="info-line-label">Queue</span>
        <span class="info-line-separator"></span>
        <span class="info-line-value">
          <%= link_to @job.queue_name.titleize, jobs_path(queue_name: @job.queue_name), class: "link" %>
        </span>
      </div>

      <div class="info-line">
        <span class="info-line-label">Class</span>
        <span class="info-line-separator"></span>
        <span class="info-line-value">
          <%= link_to @job.class_name, jobs_path(class_name: @job.class_name), class: "link" %>
        </span>
      </div>

      <div class="info-line">
        <span class="info-line-label">Active Job ID</span>
        <span class="info-line-separator"></span>
        <span class="info-line-value"><%= @job.active_job_id %></span>
      </div>
    </div>

    <div class="space-y-4">
      <div class="info-line">
        <span class="info-line-label">Created At</span>
        <span class="info-line-separator"></span>
        <span class="info-line-value" data-date><%= @job.created_at %></span>
      </div>

      <div class="info-line">
        <span class="info-line-label">Scheduled At</span>
        <span class="info-line-separator"></span>
        <span class="info-line-value" data-date><%= @job.scheduled_at %></span>
      </div>

      <% if @job.success? || @job.retried? %>
        <div class="info-line">
          <span class="info-line-label">Finished At</span>
          <span class="info-line-separator"></span>
          <span class="text-sm text-muted-foreground font-normal">
            <%= time_ago_in_words(@job.finished_at, include_seconds: true) %> ago
          </span>
          <span class="info-line-value" data-date><%= @job.finished_at.to_fs(:database) %></span>
        </div>

        <div class="info-line">
          <span class="info-line-label">Time Taken</span>
          <span class="info-line-separator"></span>
          <span class="info-line-value"><%= distance_of_time_in_words(@job.scheduled_at, @job.finished_at, include_seconds: true) %></span>
        </div>
      <% end %>

      <% if @job.failed? %>
        <div class="info-line">
          <span class="info-line-label">Failed At</span>
          <span class="info-line-separator"></span>
          <span class="info-line-value" data-date><%= @job.failed_execution.created_at.to_fs(:database) %></span>
        </div>

        <div class="info-line">
          <span class="info-line-label">Time Taken</span>
          <span class="info-line-separator"></span>
          <span class="info-line-value"><%= distance_of_time_in_words(@job.scheduled_at, @job.failed_execution.created_at, include_seconds: true) %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @job.arguments["arguments"].present? %>
  <div x-data="{ showAll: false }" class="card mt-8 overflow-hidden">
    <div class="card-header border-b border-t-4 border-t-blue-500 dark:border-t-blue-600 flex flex-row justify-between gap-4">
      <div class="space-y-1.5">
        <% if @job.class_name === SolidQueueDashboard::Job::COMMAND_CLASS_NAME %>
          <h3 class="card-title">Command</h3>
          <p class="card-description">The command that was executed</p>
        <% else %>
          <h3 class="card-title">Arguments</h3>
          <p class="card-description">The arguments that were passed to this job</p>
        <% end %>
      </div>

      <button x-on:click="showAll = !showAll" class="btn btn-sm btn-outline">
        <span x-show="!showAll">Show All Metadata</span>
        <span x-show="showAll">Hide All Metadata</span>
      </button>
    </div>
    <div class="card-content pt-6">
      <% if @job.class_name === SolidQueueDashboard::Job::COMMAND_CLASS_NAME %>
        <pre x-show="!showAll"><%= @job.arguments["arguments"][0] %></pre>
      <% else %>
        <% @job.arguments["arguments"].each do |argument| %>
          <span class="badge badge-zinc text-sm"><%= JSON.pretty_generate(argument) %></span>
        <% end %>
      <% end %>

      <pre x-show="showAll"><%= JSON.pretty_generate(@job.arguments) %></pre>
    </div>
  </div>
<% end %>

<% if @job.failed? %>
  <div class="card mt-8 overflow-hidden">
    <div class="card-content pt-5 border-t-4 border-t-red-500">
      <h4 class="text-lg font-bold">
        <%= @job.error_message %>
      </h4>

      <% backtrace = Rails.backtrace_cleaner.clean(@job.failed_execution.error["backtrace"]) %>
      <% if backtrace.any? %>
        <ul class="list-decimal marker:text-sm marker:text-muted-foreground mt-1 ml-8 space-y-1">
          <% backtrace.each do |line| %>
            <li class="font-mono"><%= line %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>

<% if @job.execution_history.size > 1 %>
  <div class="card mt-8 overflow-hidden">
    <div class="card-header border-b border-t-4 border-t-zinc-500 dark:border-t-zinc-600">
      <h3 class="card-title">Execution History</h3>
      <p class="card-description">The history of executions of this exact job</p>
    </div>

    <div class="card-content !p-0">
      <%= render "table", jobs: SolidQueueDashboard.decorate(@job.execution_history.order(id: :desc)), highlight_ids: [@job.id] %>
    </div>
  </div>
<% end %>

<% if @job_history.size > 1 %>
  <div class="card mt-8 overflow-hidden">
    <div class="card-header border-b border-t-4 border-t-zinc-500 dark:border-t-zinc-600 flex !flex-row justify-between items-center">
      <div class="space-y-1.5">
        <h3 class="card-title">Similar Jobs</h3>
        <p class="card-description">The history of executions of the same job class</p>
      </div>

      <%= link_to "View All", jobs_path(class_name: @job.class_name), class: "btn btn-outline btn-sm" %>
    </div>

    <div class="card-content !p-0">
      <%= render "table", jobs: @job_history %>
    </div>

    <div class="card-footer border-t pt-6">
      <p class="text-sm text-muted-foreground">
        Showing the last 10 executions of this job
      </p>
    </div>
  </div>
<% end %>
