<tr class="table-row" data-href="<%= recurring_task_path(recurring_task) %>">
  <td class="table-cell pl-6 font-medium text-zinc-900 dark:text-zinc-100">
    <%= recurring_task.id %>
  </td>

  <td class="table-cell">
    <%= recurring_task_type_badge(recurring_task.type) %>
  </td>

  <td class="table-cell">
    <span class="font-medium">
      <%= recurring_task.class_name || recurring_task.command %>
    </span>
  </td>

  <td class="table-cell"><%= recurring_task.schedule %></td>
  <td class="table-cell"><%= recurring_task.queue_name&.titleize || empty_value %></td>
  <td class="table-cell"><%= recurring_task.priority || empty_value %></td>
  <td class="table-cell"><%= recurring_task.key %></td>
  <td class="table-cell">
    <%= form_with url: enqueue_recurring_task_path(recurring_task), method: :post do %>
      <button
        type="submit"
        class="btn btn-md btn-outline"
      >
        <%= icon_play class: "size-4 text-amber-500 mr-1" %>
        Enqueue Now
      </button>
    <% end %>
  </td>
</tr>
